@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

#root{
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(180deg, rgba(5,46,51,1) 0%, rgba(0,0,0,0) 65%);
  height: 100%;
}

.logo{
  font-size: 30px;
}

.navBar{
  background-color: #D6E00C;
}

.navLink{
  text-decoration: none;
  padding: 5px 20px;
  color:rgba(5,46,51,1)
}

.navLink:hover{
  text-decoration: none;
  background-color: #ffffff57;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
}

.mainBox{
  padding-top: 100px;
}

.mainBox h2{
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

.jobBox{
  background-color: #ffffff85;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.jobBox a {
  text-decoration: none;
  color: #111;
}

.jobBox a:hover{
  color:#6d6d6d
}

.favIcon, .notFav{
  padding: 0;
  font-size: 20px;
  color:rgba(5,46,51,1)
}

.notFav{
  padding: 0;
  font-size: 20px;
  color:rgba(5,46,51,1)
}

.btnFav{
  background-color: #D6E00C;
  border: 1px solid #D6E00C;
}

.btnFav:hover{
  background-color: transparent;
  border: 1px solid #D6E00C;
}
