@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#root {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(43,25,71,1) 28%, rgba(95,44,165,1) 46%, rgba(209,255,0,0.711922268907563) 92%);
  color: #fdfdfd;
  font-family: 'Saira', sans-serif;
  padding: 2%;
}

#root, .input, .title,.searchIcon{
  color: #fdfdfd;
}
 
.search, .form{
  width: 100%;
}


.navBar, .myWeather{
  background-color: #020024;
  border-radius: 20px;
  padding: 15px;
  border: 2px solid #020024;
}

.input{
  padding: 10px 20px;
  font-weight: 600;
  border:0;
}

.input:hover{
  color: #111111;
}

.input:hover, .card:hover{
  background-color: #d0ff009f;
  transition: 0.5s;
}

.CurrentData{
  text-align: left;
  padding: 0;
}

.cardDate{
  font-weight: 600;
}

.CurrentData, .cardDate, .forecast, .grafic, .chartStyles, .dayAcc{
  width: 100%;
}

.myWeather{
  text-align: start;
  margin: 40px 0;
}

.myWeather h2{
  font-size: 40px;
}

.searchIcon{
  font-size: 20px;
  padding: 0;
}

.input, .forecast{
  background-color: #f5e2ff5b;

}

.forecast{
  height: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  padding: 3%;
}

.navBar, .myWeather, .forecast{
  box-shadow: 8px 6px 17px 5px rgba(2, 0, 36, 0.521);
}

.grafic{
  padding: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.title{
  text-align: left;
  font-size: 20px;
}

.dayAcc{
  text-align: left;
}

.card{
  height: 100%;
  border: 0px;
  border: 1px solid #ffffff ;
}

.card:hover{
  border: 1px solid #ffffff ;
}

.grafic, .card{
  background-color: #fdfdfd;
  border-radius: 10px;
}

.card, .dateIcons{
  align-items: center;
}

.grafic,.card, .dateIcons{
  display: flex;
}


.dateIcons{
  font-size: 15px;
  margin-bottom:5px ;
}